body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: rgb(191, 216, 194);
  display: flex;
  flex-direction: row;
}

nav {
  width: 25vw;
  height: 100vh;
}

header {
  float: left;
  width: 225px;
  height: auto;
  border-radius: 0 0 6px 0;
  padding: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 52px;
  margin: 10px 0;
}
  
ul {
  padding: 0;
}

li {
  list-style: none;
}

main {
  margin-left: 100px;
  width: 200px;
}

#hotel-list {
  overflow: scroll;
  height: 90vh;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

#hotel-list li {
  font-size: 2vh;
  margin-top: 4vh;
  padding-top: 4vh;
  background-color: rgb(100, 155, 237);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#hotel-list li:hover {
  color: white;
}

.hotel-details h2 {
  font-size: 32px;
  text-align: center;
  align-items: center;
}

.hotel-details h3 {
  font-size: 24px;
}

.hotel-details img {
  display: block;
  height: 200px;
  margin: 0 auto 25px auto;
}

form {
  width: 450px;
  margin: 0 auto 50px auto;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

form button[type="submit"] {
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(100, 155, 237);
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

#comment-list li {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}